.basket-list {
   background-color: #25252c;
   display: flex;
   flex-flow: column;
}

.basket-open {
   background: none;
   border: none;
   color: inherit;
   font-size: 1.5rem;
   margin: 140px 1rem 1rem 1rem;
   align-self: flex-end;
   user-select: none;
   cursor: pointer;
}

#empty {
   margin: 0 2rem;
   text-align: center;
}

#total-cost {
   padding: 1.5rem 0;
   margin: 0 2rem;
   text-transform: uppercase;
   font-weight: 800;

   text-align: center;
   background-color: rgba(142, 148, 202, 0.9);
   color: #3e3e49;
}

.basket-item {
   font-size: 14px;
   margin: 0 2rem;
   padding: 1rem;
}

.basket-item:nth-child(even) {
   background-color: rgba(142, 148, 202, 0.15);
}

.basket-item .text{
   margin: 0.5rem 0;
   color: rgb(132, 240, 220);
}

.basket-item .info {
   display: flex;
   justify-content: space-between;
}

.basket-item .info span{
   margin-right: 1rem;
}

.basket-item .nav {
   display: flex;
   justify-content: center;
}


