.basket-list {
   background-color: #25252c;
   display: flex;
   flex-flow: column;
}

.basket-button {
   background: none;
   border: none;
   color: inherit;
   font-size: 1.5rem;
   margin: 140px 1rem 1rem 1rem;
   align-self: flex-end;
   user-select: none;
   cursor: pointer;
}

#empty {
   margin: 0 2rem;
   text-align: center;
}

#total-cost {
   margin: 2rem;
   text-transform: uppercase;
   font-weight: 800;
}

.basket-item {
   margin: 0 2rem;
   padding-bottom: 1rem;
   border-bottom: 1px solid rgb(142, 148, 202);
}

.basket-item .text{
   margin: 0.25rem 0;
   color: rgb(132, 240, 220);
}

.basket-item .nav {
   display: flex;
}

.basket-item .button {
   margin: 0 1rem;
   user-select: none;
   cursor: pointer;
   background: none;
   border: none;
   color: inherit;
   font-size: 1.1rem;
   font-weight: 600;
}


